<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
    <script type="text/javascript" src="js/ang.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bt.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <title></title>
</head>
<body class="container" style="direction:rtl">

<!-- navbar menu -->

 <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">
                    <i class="fa fa-plane fa-lg"></i>
                    <span class="title">Bama web scraping</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <h4>
                        <a href="" ng-click="navbar.signout()">
                        <i class="fa fa-sign-out fa-lg"></i> &nbsp; خروج</a>
                        </h4>
                    </li>
                    <li><h4>-----</h4></li>
                    <li><h4><a href="" ng-click="show_files()">&nbsp;استخراج شماره ها</a></h4></li>
                    <li><h4>-----</h4></li>
                    <li><h4><a href="" ng-click="panel = 'main'">&nbsp;ذخیره لینک ها</a></h4></li>
                </ul>
                <ul class="nav navbar-nav navbar-left">

                </ul>
            </div>
        </div>
    </nav>

<!-- main panel -->
    <div class="panels">

        <div class="a" ng-show="panel == 'main'">
            <h1>تعداد لینک های موجود برای دریافت : <u style="color:red">{{links}}</u> عدد می باشد</h1>
            <p>لطفا تعدا لینک ها را انتخاب کنید و دکمه تایید را فشار دهید</p>
            <input type="number" value="1" ng-model="num_select">
            <button type="button" class="btn btn-default" ng-click="get_links()">تایید</button>
            <button type="button" class="btn btn-default">انصراف</button>
        </div>


<!-- pnl-phone extract -->
        <div class="a" ng-show="panel == 'phone'">
            <div>
                <h3>لطفا فایل مورد نظر را برای استخراج شماره تلفن ها انتخاب کنید</h3>
                <table class="table table-striped">
                    <tr>
                        <td>نام فایل ها</td>
                    </tr>
                    <tr ng-repeat="x in files">
                        <td>
                            <a href="#" ng-click="do_extract(x)">{{x}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


<!-- pnl-wait -->
        <div class="a a1" ng-show="panel == 'wait'">
            <h2>زمان تقریبی انتظار : {{progress}} می باشد</h2>
            <div class="a2">
                <h2>لطفا منتظر بمانید</h2>
                <img src="img/39.gif">
            </div>
        </div>

    </div>
</body>
</html>